<h6>Please ask your coach a question</h6>

<form action="/answer" data-turbo="false">
  <div class="input-group">
    <input class="form-control" type="text" name="question">
    <input class="btn btn-primary" type="submit" value="Ask">
  </div>
</form>
